* 
{
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
  text-transform:capitalize;
}


body 
{
  background-color: black;
}



h2{
    color:rgb(56, 3, 155);
    margin-bottom:20px;
}
h2 span{
    color:white;
}
.container 
{
   position: relative;
   height:100vh;
   width:100%;
   display:flex;
   flex-direction: column;
   align-items:center;
   margin:auto;
   justify-content: center;
}

.img-box 
{
  background-color: rgba(133, 123, 123, 0.349);
  overflow:hidden;
  line-height: 0;
  position:relative;
}
.img-resize 
{
  position: absolute;
  top:0px;
  left:0px;
  overflow-x: hidden;
}
